body {
       margin-top: 50px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
            max-width: 600px;
            margin: 0 auto;
            background: #00fff0;
            padding-top: 50px;
            padding-left: 30px;
            padding-right: 30px;
            font-family:arial;
            border:2px solid;
            border-left-color:#000000;
            border-right-color:#000000;
            border-top-color:#000000;
            border-bottom-color:#000000;
            }   
